// -----------------------------
// Migration Styles
// -----------------------------


#migrated-site {


// Stylseheet overrides
// -----------------------------


.bk-section {
  position: relative;
}

&.edit .canvas {
  @media only screen and (min-width: 1333px) {
    left: 5%;
    margin-left: 0;
    width: 90%;
  }

  @media only screen and (min-width: 1533px) {
    left: 50%;
    margin-left: -600px;
    width: 1200px;
  }
}

#page-zones__main:empty,
.empty-zone,
#page-zones__main > .widget:not(.row) {
  @media only screen and (min-width: 1333px) {
    width: ~"calc(100% * 0.9 * 0.9)";
  }

  @media only screen and (min-width: 1533px) {
    width: 1080px;
  }
}

.widget.content {
  overflow: visible;
}

ul.widget__list {
  background-color: transparent;
  border: 0;
}

.row:not(.widget):not(.row--width-no-padding) .row__container {
  width: 90%;
}

#page-zones__main > .row + .widget:not(.row) {
  margin-top: 20px;

  @media @tablet {
    margin-top: 30px;
  }
}



// Readds spacing to the first widget in the zone - these values should replicate what was on the .main class in the template
#page-zones__main:empty,
.edit #page-zones__main-overlay + .widget:not(.row),
#page-zones__main > .widget:not(.row):first-child,
#page-zones__main > .row + .widget:not(.row) {
  margin-top: 60px;

  @media @tablet {
    margin-top: 40px;
  }

  @media @mobile {
    margin-top: 20px;
  }
}


// Readds spacing to the last widget in the zone - these values should replicate what was on the .main class in the template
#page-zones__main:empty,
#page-zones__main > .widget:not(.row):last-child {
  margin-bottom: 60px;

  @media @tablet {
    margin-bottom: 40px;
  }

  @media @mobile {
    margin-top: 20px;
  }
}

// Add spacing to the top of a widget when it procedes a section
#page-zones__main > .row + .widget:not(.row) {
  margin-top: 15px;
}

// Adds spacing to the top and bottom of a section when a widget precedes it
#page-zones__main > .widget:not(.row) + .row {
  margin-bottom: 15px;
  margin-top: 15px;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}


}
